extends layout

block content
  h1= title
  p
    Voici le(s) evenement(s) qui ont été signaler:
    
  .container
    .row
      .col-md-6.pull-left
        .well
          | Affichage des events
      .col-md-6.pull-left
        .well
