extends layout

block content
  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
      .container
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand', href='#') #{title}
        div(id='navbar', class='collapse navbar-collapse')
          ul(class='nav navbar-nav')
            li
              a(href='#home') Accueil
            li
              a(href='/event') Evènements
            li
              a(href='/signaler') Signaler
    p Vous êtes témoins d'un incident (un incendie, une catastrophe naturelle, un braquage, )
    a(class='btn btn-primary homepage-btn') Evènements
    a(class='btn btn-danger homepage-btn') Signaler
