extends layout

block content
    div(class='container homepage-container')
      p Vous êtes témoins d'un incident (un incendie, une catastrophe naturelle, un braquage, un attentat, ...), et vous souhaitez prévenir les autres de ces événements? #{title} est fait pour vous !
      a(class='btn btn-primary homepage-btn', href='/event') Événements en cours
      a(class='btn btn-danger homepage-btn', href='/signaler') Signaler un événement
