extends layout

block content
  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
      .container
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand', href='/') #{title}
        div(id='navbar', class='collapse navbar-collapse')
          ul(class='nav navbar-nav')
            li
              a(href='/') Accueil
            li
              a(href='/event') Evénements
            li
              a(href='/signaler') Signaler
    div(class='container homepage-container')
      p Vous êtes témoins d'un incident (un incendie, une catastrophe naturelle, un braquage, un attentat, ...), et vous souhaitez prévenir les autres de ces événements? #{title} est fait pour vous !
      p Vous pouvez également demander de l'aide en cas de soucis : demande de logement d'urgence chez un habitant, etc...

      a(class='btn btn-primary homepage-btn', href='/event') Evénements
      a(class='btn btn-danger homepage-btn', href='/signaler') Signaler