extends layout

block content
  h1= "Signaler un événement"
  form(role='form', name='form', action='/signaler', method='post', enctype='plain')
    input.form-control(type='hidden', name='latitude', value='')
    input.form-control(type='hidden', name='longitude', value='')
    input.form-control(type='text', name='message', placeholder="Décrivez rapidement l'événement !")
    button(type='submit')
  script(src='geolocation.js')
  
