extends layout

block content
  h1= "Signaler un événement"
  form(role='form', name='form', action='/signaler', method='post', enctype='plain')
    .form-group
      input.form-control#latitude(type='hidden', name='latitude', value='')
      input.form-control#longitude(type='hidden', name='longitude', value='')
      input.form-control#date(type='hidden', name='date', value='')
      input.form-control(type='text', name='nom', placeholder="Nom")
      input.form-control(type='text', name='message', placeholder="Description rapide de l'événement")
      button.btn.btn-default(type='submit') Envoyer le signalement
  script(src='/scripts/geolocation.js')
  
